.App{
    display:flex;
    flex-direction: column;
    align-items: center;
    

    background-color: #06143c;
    /* margin: 0px; */
    padding: 200px;
    height:475px
}
.App-header{
    
    display: flex;
    flex-direction: column;
    align-items: center;

}
.nameSub{
    color:greenyellow;
    margin:0px
}
.Name{
    color: whitesmoke;
    font-size: 88px;
    margin:0px;
}
.skills{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.bio{
    color: whitesmoke;
    font-size: 17px;
}
.list{
    color: whitesmoke;
}
.btn {
    display: inline-block;
    padding: 10px 20px;
    font-size: 1em;
    font-weight: 600;
    color: #fff;
    background-color: #06143c;
    border:greenyellow solid;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    cursor: pointer;
    transition: all 0.2s;
    text-decoration: none;
  }
  
  .btn:hover {
    background-color: #0066b3;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transform: translateY(-2px);
  }
  
  .btn:active {
    background-color: #005599;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    transform: translateY(2px);
  }
  